{% extends "base.html" %}
{% load static %}
{% block content %}
    {% block css_files %}
        <link rel="stylesheet" href="{% static 'game/css/board.css' %}" />
    {% endblock css_files %}
    {% if game.board == "" %}
        <b>There is no game belonging to you with id = {{ game.id }} in the database.</b>
    {% else %}
        <div class="row justify-content-center mt-4">
            <h5 class="mr-2 ml-2 text-center">
                <div class="d-inline-block">Finished on:</div>
                <div class="d-inline-block">{{ game.finished_date|date:'M j Y H:i' }}</div>
            </h5>
            <h5 class="ml-2 mr-3 text-center">
                {% if game.winner == COMPUTER %}
                    {{ MESSAGE_LOST }}
                {% elif game.winner == USER %}
                    {{ MESSAGE_WON }}
                {% else %}
                    {{ MESSAGE_TIE }}
                {% endif %}
            </h5>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-11 col-lg-7">
                {% get_static_prefix as STATIC_URL %}
                <div class="board">
                    {% for player in game.board %}
                        {% with counter=forloop.counter0|stringformat:"s" %}
                            <button id="{{ forloop.counter0 }}"
                                    class="square {% if counter in squares %}win{% endif %}"
                                    style="background-image: url('{{ STATIC_URL }}game/images/{% if player == NO_PLAYER_YET %}no_player_yet{% elif player == USER %}user{% else %}computer{% endif %}.jpg')"
                                    disabled></button>
                        {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-12 col-md-11 col-lg-7">
                <div class="wrapper">
                    {% include "game/includes/favorite_game.html" %}
                    <div>
                        <button id="delete-game"
                                type="button"
                                class="btn btn-danger"
                                onclick="$(this).hide();$('#question').css('display','flex');">Delete Game</button>
                    </div>
                </div>
            </div>
        </div>
        {% include "game/includes/delete_game.html" %}
    {% endif %}
{% endblock content %}
